version: 2

defaults: &defaults
  working_directory: ~/rlogger
  docker:
    - image: circleci/node:8.10

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - persist_to_workspace:
          root: ~/rlogger
          paths: .

  test:
    <<: *defaults
    environment:
      NODE_ENV: test
    steps:
      - attach_workspace:
            at: ~/rlogger
      - run:
          name: Run linter
          command: npm run lint
      - run:
          name: Run flow
          command: npm run flow
      - run:
          name: Run tests
          command: npm test

  coverage:
      <<: *defaults
      environment:
        NODE_ENV: test
      steps:
        - attach_workspace:
            at: ~/rlogger
        - run: npm run coverage:ci
        - store_artifacts:
            path: coverage

  deploy:
      <<: *defaults
      steps:
        - attach_workspace:
            at: ~/rlogger
        - run:
            name: Authenticate with registry
            command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > ~/rlogger/.npmrc
        - run:
            name: Publish package
            command: npm publish

workflows:
  version: 2
  test-deploy:
    jobs:
      - install
      - test:
          requires:
            - install
      - coverage:
          context: node-package
          requires:
            - install
      - deploy:
          context: node-package
          requires:
            - test
          filters:
            branches:
              only: master
